test/liton_ordered_tec.VC.db
test/liton_ordered_tec.VC.VC.opendb
test/.vs/
test/Debug/
test/Release/
test/ordered_tec/Debug/
test/ordered_tec/Release/
test/Test_data_type/Debug/
test/Test_data_type/Release/
test/Test_echo_in_file/Debug/
test/Test_echo_in_file/Release/
test/Test_echo_mode/Debug/
test/Test_echo_mode/Release/
test/Test_grid_solution/Debug/
test/Test_grid_solution/Release/
test/Test_log/Debug/
test/Test_log/Release/
test/Test_multi_file/Debug/
test/Test_multi_file/Release/
test/Test_multi_file/test_04/
test/Test_two_zone/Debug/
test/Test_two_zone/Release/
test/Test_using_time/Debug/
test/Test_using_time/Release/
test/Test_xml/Debug/
test/Test_xml/Release/
test/Test_zone_size/Debug/
test/Test_zone_size/Release/
test/Test_single_zone/Debug/
test/Test_single_zone/Release/
*.bat
doc/eng/
